################################################################################
# This .gitignore mess was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MicrosoftRBX-FPS/x64
/MicrosoftRBX-FPS/MicrosoftRBX-FPS/Lib
/MicrosoftRBX-FPS/MicrosoftRBX-FPS/x64
/MicrosoftRBX-FPS/MicrosoftRBX-FPS/Release
/MicrosoftRBX-FPS/MicrosoftRBX-FPS/Debug
/MicrosoftRBX-FPS/Debug
/MicrosoftRBX-FPS/Release

# Shadow wizard money gang
# We love random letter files types
*.a
*.c
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# VS code shit that i dont care to remove
/MicrosoftRBX-FPS/.vs/

# ⡞⣵⢫⢿⣹⣿⣻⢿⣟⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣛⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⡹⢧⣻⣭⢷⣯⣟⡿⣾⢿⣾⣿⢿⣿⣿⣿⡿⢟⣩⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⡿⣿⣿⣿⣿⣿⣿⣿⣯⣍⡛⢿⣿⠋⣡⣾⣿⣿⣿⣿
# ⡽⣯⢷⣾⢻⣞⣯⢿⣫⣿⡾⢩⣾⡿⡽⣯⢶⣭⣿⣿⣿⣿⣿⣯⣟⠿⡟⢯⣇⢿⣋⣿⡿⣿⣿⣿⣿⣿⣿⡿⣿⣦⣽⡀⠈⠛⢹⣿⣿⣿
# ⡽⣭⢿⡼⣟⣾⣽⣿⣻⣷⣿⣆⠙⣕⡴⣳⣿⣿⣷⣿⣿⣿⣿⣿⣿⣧⡬⢴⠨⣼⣿⣿⣿⣿⣿⢟⣵⣿⣿⣻⣭⣿⣿⣿⣤⠀⣿⣿⣿⣿
# ⣼⣻⢿⡼⣟⣿⣼⣻⣿⣿⣼⣿⠃⠿⠃⠃⠛⠿⠿⢿⣿⣿⣿⣿⣿⣻⡧⢠⣸⣿⣿⣿⣿⣿⢿⣿⠿⠿⠛⠛⠛⠛⠘⠻⢿⡇⢿⣿⣿⣿
# ⣳⡽⣾⣽⣻⢾⣻⣯⣷⣿⠎⠄⢀⣠⣤⡤⢤⣤⣤⣤⡄⣀⣬⣿⣿⣿⣿⢧⣻⣿⣿⣿⣿⣷⣤⠠⠤⠤⠤⠶⠶⣶⣦⣄⠐⠿⣜⣻⣿⣿
# ⣽⣳⣟⣶⢯⡿⣷⣿⠏⣠⡾⢐⣯⠖⢋⡀⠒⢒⢒⠒⣲⠈⢛⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠉⣿⠋⡉⠉⠁⠀⣍⡛⢿⣿⣿⣿⣷⣿⣿
# ⣷⡻⣾⣭⢿⣽⣟⠆⣼⡿⢙⠧⠠⢤⣉⣃⣀⣀⣈⣓⣘⡇⢹⣿⣿⣿⣿⣿⣿⣿⣿⣯⣝⠿⣷⣯⣬⣭⣤⣤⣬⣭⣥⣈⡡⢴⣿⣿⣿⣿
# ⣽⣳⣟⡾⣟⣿⠉⢸⣿⠧⠅⢠⣶⣾⣿⣿⣿⣿⣿⣿⠏⣴⣿⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣯⡘⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⡷⣟⡾⣽⣿⠝⢀⢻⣟⣠⢼⣿⣿⣿⣿⣿⣿⣿⣿⡟⣸⣟⣽⣾⢷⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⣿⢽⣻⣷⠋⣰⣿⣷⣾⣾⣿⣿⣿⣿⣿⣿⣿⣿⡟⣼⠿⡫⠟⠹⠛⠁⠊⠹⢟⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⡿⣾⣽⣻⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡧⠈⠀⠀⠀⠀⠀⠀⠀⠈⠓⠈⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⣿⣳⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⣿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿ 
# ⣯⡿⢾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣽⣿⣿⣿⡿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⣿⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⢘⣷⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠿⣿⣿⣯⣿⣿⡷⣌⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⣷⣻⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠋⣾⣿⣏⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⡝⠛⢿⣿⣿⣿⣿⢎⣮⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⣧⢟⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⢟⣩⣦⡿⠿⢵⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠨⠙⠈⠄⠛⠛⢉⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⣎⢻⡼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣿⣿⣟⣂⠁⠠⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⠌⠓⣿⣿⣿⣯⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⠀⢤⣄⣀⠀⠀⠀⠀⠀⡀⢀⠀⣀⠀⡀⢀⣠⡙⢏⣹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⠀⣼⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣹⡊⢽⣫⢧⠓⡌⢣⡙⣌⢣⢂⠉⡖⠩⢤⡹⢾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⠀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⣳⡝⢮⣙⢎⢇⡚⢬⡑⠎⡄⢌⠳⣌⣵⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣷⡜⡎⡞⠘⣦⠘⢱⠂⣬⢳⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
# ⢺⣿⣿⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣯⣵⣋⠷⣌⢣⢏⣎⢧⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⢿⣟
# ⣿⣿⣿⣿⣿⣻⣷⣻⣽⣿⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⢳⡞⣼⣳⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢻⠿⣍
# ⣿⣿⣿⣿⣷⡹⢶⣹⣒⡽⢷⣻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣟⡾⣱⡟⣿⣿⣿⣿⣿⣿⣿⡿⣟⣻⢿⡙⣎⠳⠹⢾
# ⣿⣿⣿⣿⣯⢳⡍⢖⠑⢏⡫⣟⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣟⢮⣗⢯⣻⣟⣿⢿⡿⣯⢭⢋⡳⠍⡆⠧⠙⢠⠩⠏⡓
